<!-- <div class="form-group">
    <label for="repositoryUrl">Git Repository Url</label>
    <input type="text" class="form-control" name="name" ng-model="formData.repositoryUrl" disabled>
</div>
 -->
<div class="form-group">
	<span class="text-primary">Git Repository Url - </span>
	<span class="text-info">{{formData.repositoryUrl}}</span>
</div>

<div class="form-group">
    <label for="subscription">Subscription</label>
    <!-- <input type="text" class="form-control" name="subscription" ng-model="formData.location"> -->
    <select class="form-control" ng-model="formData.subscription" ng-options="subscription.displayName for subscription in formData.subscriptions">
    </select>
</div>

<div class="form-group" ng-repeat="param in formData.params" ng-switch on="param.name">
	<div ng-switch-when="siteName" class="form-group">
		<label>{{param.name}}</label>
		<span ng-show="formData.siteName.length > 0 && formData.querySiteName.length > 0" class="text-success" ng-if="formData.siteNameAvailable"> - Name is available
		</span>
		<span ng-show="formData.siteName.length > 0 && formData.querySiteName.length > 0" class="text-danger" ng-if="!formData.siteNameAvailable"> - Name is not available
		</span>
    	<input type="text" class="form-control" name="param.name" ng-model="param.value" ng-change="checkSiteName(param.value)">
	</div>

	<div ng-switch-when="siteLocation" class="form-group">
		<label>{{param.name}}</label>
    	<select class="form-control" ng-model="param.value" ng-options="location for location in formData.siteLocations"></select>
	</div>

	<div ng-switch-default class="form-group" ng-show="showParam(param)" >
	    <label>{{param.name}}</label>
    	<input type="text" class="form-control" name="param.name" ng-model="param.value">
    </div>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.deploy" ng-disabled="!canMoveToNextStep()" class="btn btn-block btn-info" >
    Deploy <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>