<div class="result-body">
    <h4 class="text-primary">Resources to be created</h3>
    <i ng-hide="formData.providers" class="fa fa-spinner fa-spin"></i>
    <div ng-repeat="provider in formData.providers">{{provider}}</div>
</div>
<div class="row">
    <div class="col-xs-6 col-xs-offset-6 text-right">
        <a ui-sref="form.setup" class="btn btn-info wizard-button"><span class="glyphicon glyphicon-circle-arrow-left"></span> Setup</a>
        <a ui-sref="form.deploy" class="btn btn-info wizard-button">Deploy <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
    </div>
 </div>
