<div ng-hide="formData.error">
    <div id="repositoryContainer">
        <div class="text-primary">
            Git Repository Url - <span class="text-info">{{formData.repositoryUrl}}</span>
        </div>

        <div class="text-primary">
            Branch - <span class="text-info">{{formData.branch}}</span>
        </div>
    </div>

    <div ng-show="!formData.params">
        <p class="text-center"><i class="fa fa-spinner fa-spin large-spinner"></i></p>
    </div>

    <div ng-show="formData.params">
        <div class="form-group col-md-6">
            <label for="tenants">Directory</label>
            <select class="form-control" ng-model="formData.tenant" ng-change="changeTenant()" ng-options="tenant.DisplayName for tenant in formData.tenants">
            </select>
        </div>

        <div class="form-group col-md-6">
            <label for="subscription">Subscription</label>
            <select class="form-control" ng-model="formData.subscription" ng-options="subscription.displayName for subscription in formData.subscriptions">
            </select>
        </div>

        <div class="form-group col-md-6">
            <label for="resourceGroup">Resource group</label>
            <input type="text" class="form-control" name="resourceGroup" ng-model="formData.resourceGroup">
        </div>

        <div class="form-group col-md-6" ng-repeat="param in formData.params" ng-switch on="param.name" ng-show="showParam(param)">
            <!-- Special handling for siteName form field -->
            <div ng-switch-when="siteName">
                <label>{{param.name | camelCaseToHuman}}</label>
                <span ng-show="showSiteNameAvailableMesg()" class="text-success" ng-if="formData.siteNameAvailable"> - Name is available
                </span>
                <span ng-show="showSiteNameAvailableMesg()" class="text-danger" ng-if="!formData.siteNameAvailable"> - Name is not available
                </span>
                <input type="text" class="form-control" name="param.name" ng-model="param.value" ng-change="checkSiteName(param.value)">
            </div>

            <!-- Special handling for siteLocation form field -->
            <div ng-switch-when="siteLocation">
                <label>{{param.name | camelCaseToHuman}}</label>
                <select class="form-control" ng-model="param.value" ng-options="location for location in formData.siteLocations"></select>
            </div>

            <!-- Special handling for sqlServerLocation form field -->
            <div ng-switch-when="sqlServerLocation">
                <label>{{param.name | camelCaseToHuman}}</label>
                <select class="form-control" ng-model="param.value" ng-options="location for location in formData.sqlServerLocations"></select>
            </div>

            <!-- Special handling for sqlServerName form field -->
            <div ng-switch-when="sqlServerName">
                <label>{{param.name | camelCaseToHuman}}</label>
                <span class="text-danger" ng-show="myForm.sqlServerName.$error.pattern">  - Invalid Server Name <i id="sqlServerNameTooltip" data-toggle="tooltip" class="text-info glyphicon glyphicon-question-sign" title="A SQL Server Name can only be made up of lowercase letters a-z, the numbers 0-9 and the hyphen. The hyphen may not lead or trail in the name."></i></span>
                <input type="text" class="form-control" name="sqlServerName" ng-model="param.value" ng-pattern="/^([a-z0-9]+-)*[a-z0-9]+$/" ng-focus="enableTooltip('#sqlServerNameTooltip')">
            </div>

            <!-- All other form fields -->
            <div ng-switch-default >
                <label>{{param.name | camelCaseToHuman}}</label>

                <input type="password" ng-if="getFieldType(param) === 'password'" class="form-control" name="param.name" ng-model="param.value">

                <input type="text" ng-if="getFieldType(param) === 'text'" class="form-control" name="param.name" ng-model="param.value">

                <select class="form-control" ng-if="getFieldType(param) === 'select'" ng-model="param.value" ng-options="value for value in param.allowedValues">
            </select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-6 col-xs-offset-6 text-right">
                <a ui-sref="form.preview" ng-disabled="!canMoveToNextStep()" style="margin-right:15px" class="btn btn-info wizard-button" ng-click="nextStep()">
                Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div ng-show="formData.error" class="text-danger">
    {{formData.error}}
</div>