<div class="result-body">

    <h1 class="text-primary" style="line-height:0px;">ARM Templates</h1>
    <p style="margin: 40px 0px 15px 0px;">
        When a user clicks on the "Deploy to Azure" button, we load a default Azure Resource Manager (ARM) template which can be used to create a site with code deployed from your GitHub repository. If you would like to customize the template used, you can add a file called "azuredeploy.json" next to your README.md file. Properties that are exposed through your template will show up as input parameters in the site.
    </p>
    <p>
    <div class="row" style="margin:5px 5px 20px 5px;">
    <div class="col-xs-5">
        <label class="text-primary">Sample ARM Template Snippet</label>
        <img src="/content/templateSnippet.png" style="width:100%;"/>
    </div>
    <div class="col-xs-7">
        <label class="text-primary">Corresponding Input Parameters Rendered</label>
        <img src="/content/skinnyDeploy.png" style="width:100%;"/>
    </div>
    </div>

    </p>
    <p>
        Click <a href="https://github.com/Tuesdaysgreen/HelloWorldMVCAppSettingDemo" target="_blank">here</a> for an example MVC GitHub project which uses a custom template.  Or for more detailed information on using ARM templates with the Deploy to Azure button, check out this <a href="https://elliotthamai.wordpress.com/2014/11/15/using-custom-arm-templates-with-the-deploy-to-azure-button/" target="_blank">blog post</a>.
    </p>
    

</div>
<div class="row">
    <div class="col-xs-6 col-xs-offset-6 text-right">
        <a ui-sref="form.infobutton" class="btn btn-info wizard-button">Go Back <span class="glyphicon glyphicon-circle-arrow-left"></span></a>
    </div>
 </div>
