<div class="result-body">
    <h1 class="text-primary" style="line-height:0px">Deployments <i >Simplified</i></h1>
    <p>
        <h4 style="line-height:35px; margin-top:40px">Take control over how your application gets deployed to the cloud while making it easier for your end users to configure it. To learn more, click "The <i>Button</i>".</h3>
    </p>
</div>
<div class="row">
    <div class="col-xs-6 col-xs-offset-6 text-right">
        <a ui-sref="form.infobutton" class="btn btn-info wizard-button">The Button <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
    </div>
 </div>
